.env
.venv
database.database
database.db
diagram.png
public/*
dist/*
package.json

__pycache__/

# do not ignore gitpod and render files
!.gitpod.Dockerfile
!Dockerfile.render
!.gitpod.yml
!render.yml
!.render-buildpacks.json
